#youtube .youtube-image {
  width: 100%;
  height: 310px;
  margin-right: 5px;
}
#youtube .list-group {
  width: 100%;
}
#youtube .list-group-item {
  width: 68% !important;
}

#youtube .youtube-title {
  color: #fff;
}
